@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Smooth background transition for dark mode */
body {
  font: 'Outfit', sans-serif;
  @apply transition-colors duration-200 ease-in-out;
}